<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href=" #call-for-papers ">Call for Papers</a>
                </li>
                <li>
                    <a href=" #important-dates ">Important Dates</a>
                </li>
                <li>
                    <a href=" #workshop-organizers ">Organizers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
